

<div class="center jumbotron mt-4">
</div>

<h2 >So Whats this all about???</h2><br />

<h4>The Stock Marked app is all about your favourite stocks. Look them up, 
track them, tell your friends about it get them to join and see what stocks 
you each like to follow...</h4>
<h4>Sign up below join us and lets make some money!!!</h4>

<div class="center">
  <%= link_to "Sign up",  new_user_registration_path, class: 'btn btn-outline-dark' %>
</div>

<div class="footer">
  <%= render 'layouts/footer'%>
</div>
