<div class="center jumbotron mt-4">
</div>

<div class="center">
  <%= link_to "My Stocks",  my_portfolio_path, class: "btn btn-dark btn-lg" %>
  <%= link_to "My Friends",  my_friends_path, class: "btn btn-dark btn-lg" %>
</div>

<div class="footer">
  <%= render 'layouts/footer'%>
</div>
