@import 'bootstrap/dist/css/bootstrap';

// Prevents the flash and alert messages from hiding behind the navbar

body, .navbar{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// JUMBOTRON
.jumbotron {
  background-image: asset-url("intro.png");
  background-size: cover;
  height: 400px;
}

.center {
  text-align: center;
}

// FORM in Portfolio

// Reduces gap between form and Button
.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

// Section that displays the stock prices

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

// Devise Messages

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

// NAVBAR
// user name
.nav-name {
  padding: 12px;
  font-size: 14px;
  
}

// Friendships tab

 .friendships {
  margin-left: 350px;
  
}

// FOOTER

// Footer
.footer, .a {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  .footer-logo {
    color: #343A40;
  }
}
