<footer id="sticky-footer" class="footer">
    <div class="container text-center">
      <small class="footer-text">Created by <%= link_to "Vincent Walker", "https://vincethewalker.com", class: "footer-logo" %> 2020</small>
    </div>
  </footer>